{% extends 'users/aronia/basemain.html' %}
{% load static  %}


{% block content %}

        <!--====== Start Features Section ======-->
        <section class="features-section black-bg pt-100 pb-50">
            <div class="container">
                <div class="row align-items-xl-center">
                    <div class="col-xl-5">
                        <!--=== Features Content Box ===-->
                        <div class="features-content-box text-white  mb-50 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                            <!--=== Section Title ===-->
                            <div class="section-title mb-30">
                                <span class="sub-title">About Us</span>
                                <br>
                                <h2>End-to-End Travel Planning</h2>
                            </div>
                            <p>Welcome to Aronia Travel, your trusted partner for 
                                unparalleled travel experiences. Located at New Peoples Media Center, Kilimani 
                                Elgeyo Marakwet Rd, kilimani Rd 
                                Junction
                                 
                                At Aronia Travel, we're more than just travel experts; We're  your strategic partner committed to elevating your travel experiences, we stand as a beacon of commitment to delivering exceptional travel services.
                  </p>
                  <p>        We are a growing entity on a mission to exceed our clients' expectations. Our core values of honesty, trust, and integrity guide us in offering personalized services while maintaining competitive rates without compromising our high standards.</p>

                            <a href="#" class="main-btn filled-btn text-white">Planning to travel?<i class="far fa-paper-plane"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="features-item-area mb-20 pl-lg-70">
                            <div class="activity-nav-tab mb-30 wow fadeInLeft" style="background-color: rgba(246, 250, 249, 0); margin-top: -10px; visibility: visible; animation-name: fadeInLeft;">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab9" aria-selected="true" role="tab">Conference & Meetings</a>
                                        
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab10" aria-selected="true" role="tab">Car Hire Services</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab15" aria-selected="true" role="tab">Visa Applications</a>
                                    </li>
                                
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab5" aria-selected="true" role="tab">Mountain Climbing</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab6" aria-selected="true" role="tab">Travel Insurance</a>
                                    </li>
        
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab8" aria-selected="true" role="tab">Excursions</a>
                                    </li>
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab9" aria-selected="true" role="tab">Honeymoon Packages</a>
                                    </li>
                                  
                            
                                    <!-- Add the new list items provided -->
                                   
                               
                                    <li>
                                        <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab17" aria-selected="true" role="tab">Pilgrim Tours in Egypt / Israel and Turkey</a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <!--=== Fancy Icon Box ===-->
                                    <div class="fancy-icon-box-two mb-30 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                         <div class="text">
                                            <h3 class="title">Air Ticketing Services</h3>
                                            <p><small>Access the best discounted airfares in the market for both domestic and international travel.</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--=== Fancy Icon Box ===-->
                                    <div class="fancy-icon-box-two mb-30 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                        <div class="text">
                                            <h3 class="title"> Accommodation </h3>
                                            <p><small>We negotiate competitive rates with Local and International partner hotels Whether it's luxury hotels, boutique lodgings or extended-stay options.</small></p>
                                        </div>
                                    </div>
                                </div>
                                
                             
                            </div>
                          
                        </div>
                    </div>
               
                </div>
            </div>
        </section><!--====== End Features Section ======-->
        <section class="features-section black-bg pt- pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title mb-55 wow  text-white  fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                            <span class="sub-title">Our Vision</span>
                            <h2>Global Excellence in World-Class Travel Services</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--=== Features Content Box ===-->
                        <div class="features-content-box text-white pl-lg-70 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                            <p class="mb-25">Founded on 11th May 2011 and incorporated on 23rd December 2013 (Certificate of Incorporation No: CPR/2013/126394), we have steadily grown, driven by the vision to become a global market leader in delivering world-class travel services. With extensive connections to airlines worldwide and collaborations with global tours and travel companies, we ensure access to the best offers for our clients.</p>
                           
                        </div>
                    </div>
                </div>
                <!--=== Features Slider ===-->
             
            </div>
        </section>
          <!--====== Start Partners Section ======-->
    <!-- <section class="partners-section">
        <div class="container">
            <div class="partner-slider-one pt-80 pb-70 wow fadeInUp">
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-1.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-2.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-3.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-4.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-5.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-6.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-7.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-8.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-9.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
  
        <!--====== End Testimonial Section ======-->
              <!--====== Start Partners Section ======-->
              <!-- <section class="features-section black-bg ">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-6">
                            <div class="features-content-box  wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                <p class="mb-25">Sit amet consectetue integer eu tincidunt scelerisque. Sodales
                                    volutpat neque fermentum alesuada scelerisque massa.</p>
                                <div class="row justify-content-center text-white">
                                    <div class="col-sm-4 col-6">
                                        <div class="counter-item mb-55">
                                            <h2 class="number"><span class="count">1356</span>+</h2>
                                            <p>Happy TravelLers</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="counter-item mb-55">
                                            <h2 class="number"><span class="count">20</span>+</h2>
                                            <p>Partnerships</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-6">
                                        <div class="counter-item mb-55">
                                            <h2 class="number"><span class="count">99</span>%</h2>
                                            <p>Positive Reviews</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-title mb-55 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                <span class="sub-title">Milestones</span>
                                <h2>Most Funning Company
                                    Travel and Tours</h2>
                            </div>
                        </div>
                    </div>
              
                </div>
            </section> -->
            
            {% include 'users/footer.html' %}

    {% endblock %}