{% load static %}
<section class="footer-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-cta-box">
                    <div class="item-img">
                        <img src="{% static 'assets4/img/banner-bottom.jpg' %}"alt="blog" width="586" height="195">
                    </div>
                    <div class="bannar-details">
                        <h3 class="heading-title">Need assistance to travel?</h3>
                        <div class="contact-box2">
                            <div class="item-icon-box">
                                <div class="item-icon"><i class="far fa-comments"></i></div>
                                <div class="banner-content">
                                    <div class="contact-title">Make a Call</div>
                                    <div class="contact-info">+254733591347</div>
                                </div>
                            </div>
                            <div class="item-icon-box item-icon-box2">
                                <div class="item-icon"><i class="far fa-envelope"></i></div>
                                <div class="banner-content">
                                    <div class="contact-title">Send Us Email</div>
                                    <div class="contact-info"> travel@aroniatravel.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Start of Footer  section
       ============================================= -->
       <footer class="footer-section style-two pt-100" >
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <div class="top">
                                <a class="logo" href="#">
                                    <img src="{% static 'assets4/img/logo/logo2.png ' %}" alt="Logo">
                                </a>
                                <p>Aronia Travel Ltd is a premier travel agency based in Nairobi, Kenya, specializing in global travel destinations. Our commitment to excellent customer service ensures an effortless journey from start to finish. With a passion for creating unique travel experiences, we continually expand our partnerships locally and globally.</p>
                                <ul>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.instagram.com/aronia_travel/" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-links">
                            <h3>Quick Links</h3>
                            <div class="top">
                                <div class="left">
                                    <ul>
                                        <li>
                                            <a href="{% url 'users:aboutus'%} ">About Us</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'users:corporatepage'%} ">Our Services</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'users:all_packages'%} ">Destinations</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            <a href="#">Hotels</a>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact</a>
                                        </li>
                                      
                                        
                                    </ul>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
               
                <div class="col-sm-6 col-lg-4">
                    <div class="footer-item">
                        <div class="footer-contact">
                            <h3>Contact Information</h3>
                            <div class="top">
                                <ul>
                                    <li>
                                        <i class="flaticon-maps-and-flags"></i>
                                        <a href="#">Comboni, Kilimani, Nairobi. </a>
                                        <span>Next to House of Leather.</span>
                                       
                                    </li>
                                    <li>
                                        <i class="flaticon-phone"></i>
                                        <a href="#">+254733591347</a>
                                        <span>Make a Call</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-mail-3"></i>
                                        <a href="mailto:info@example.com">travel@aroniatravel.com</a>
                                        <span>make an Inquiry</span>
                                    </li>
                                    <li>
                                        <i class="flaticon-clock-2"></i>
                                        <p>9 AM - 5 PM (Mon-Fri)</p>
                                        <span>Office Hour</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <p>Copyright <i class="bx bx-copyright"></i><a href="#" target="_blank">2024 Aronia Travel</a></p>
            </div>
        </div>
    </footer>
    <!-- End of Footer section
       ============================================= -->