{% extends 'users/basesuccess.html' %}
{% load static  %}


{% block content %}





  
    
    
       
        <section class="services-section black-bg pt-100  " >
            <div class="container">
              
            
                    <br>   <br>
              
                </div>
                    <div class="col-xl-12 pt-10 ">
                            <div  >
                                <div class="container " > 
    
                      
                        <br> 
                        <!--=== Section Title ===-->
                        
                        <!-- <div class="  text-white mb-30 wow fadeInDown">
                            <h2>Affordable Journeys, Unforgettable Memories</h2>
                                <p class="pt-10" >Welcome to Novustell Travel, our goal is simple: we want every trip you take with us to be affordable and wonderfully memorable. We take care of all the little things to ensure your journey is smooth and effortless, creating moments you'll treasure forever.
                                    
                                </p>
                           
    
                            </div> -->
                            
                            <div class="col-xl-12   "> 
                         
                                
                            <div class="row">
                                <div class="section-title text-white   wow fadeInDown">
                                    <h2>Account Created Succesfully <span> <small>Check your email to complete Registration</small></span></h2> 

                                </div>
                                <!-- <div class="section-title  text-white  wow fadeInDown" style="margin-bottom: -25px; ">
                                  
                                        <span class="  sub-title">Our Services</span>
            
                                    </div> -->
                          
                                    <div class="activity-nav-tab mb-30 wow fadeInLeft" style="background-color: #f6faf900; margin-top: -10px;">
                                        <ul class="nav nav-tabs">
                                            <li>
                                                <a href="#tab1" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">Succsess </a>
                                            </li>
                                          
                                        </ul>
                                    </div>
                                    
                                    
                              
                              
                            </div>
                        </div>  
                        <div class="row">
                     
                            <div class="col-lg-12">
                                <!--=== Tab Content ===-->
                                <div class="tab-content mb-50 wow fadeInRight" style="margin-top: -40px;">
                                      <!--=== Tab Pane ===-->
                                      <div class="tab-pane fade show active" id="tab1">
                                        <div class="row align-items-center">
                                            <div class="col-xl-4 order-2 order-xl-1">
                                                <!--=== We Image Box ===-->
                                                <div class="we-two_image-box mb-20">
                                                    <div class="row align-items-end">
                                                        <div class="col-md-6">
                                                            <!--=== We Image ===-->
                                                        
                                                        </div>
                                                        <div class="col-md-6">
                                                          
                                                        </div>
                                                        <div class="col-md-12">
                                                            <!--=== We Image ===-->
                                                            <div class="single-place-item-two mb-30 ">
                                                                <div class="place-img">
                                                                    <img src="{% static 'assets/images/place/2.jpg' %}" alt="Place Image">
                                                                    <span class="tour-count"></span>
                                                                    <div class="place-content">
                                                                        <div class="info text-white">
                                                                            <h3 class="title mb-10"><strong>Local & International Flights</strong> </h3>
                                                                            <div > 
                                                                            </div>                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <!--=== Activity Content Box ===-->
                                                <div class="activity-content-box pl-lg-40">
                                                    <ul class="check-list">
                                                        <li><i class="fas fa-badge-check" ></i> Check Your Email</li>
                                                       
                                                    </ul>
                                                   
                                                    <h4 class="title text-white pt-10"> </h4>


                                            {% if messages %}
                                            {% for message in messages %}
                                                {% if message.tags == 'success' %}
                                                    <p class="text-white raleway"  >{{ message|safe }}</p>
                                                {% elif message.tags == 'error' %}
                                                    <p class="text-white raleway"  >{{ message|safe }}</p>
                                                {% endif %}

                                            {% endfor %}
                                        {% endif %}
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                       
                   
                                </div>
                            </div>
                           
                        </div>  
                    </div>
                </div>
            </div>
                <!--=== Service Slider One ===-->
             
           
        </section><!--====== End Services Section ======-->
    
      
    

    
{% endblock content %}