{% extends 'users/basemain.html' %}
{% load static  %}


{% block content %}
<section class="contact-main pt-6 pb-60">
    <div class="container">
    <div class="contact-info-main mt-0">
    <div class="row">
    <div class="col-lg-10 col-offset-lg-1 mx-auto">
    <div class="contact-info bg-white">
    <div class="contact-info-title text-center mb-4 px-5">
    <h3 class="mb-1">Information About us</h3>
    <p class="mb-0">
        We are passionate about showcasing the beauty, diversity, and rich heritage of Kenya to
        travelers from around the globe. What sets us apart is our commitment to creating personalized
        journeys that cater to your unique preferences and interests. Whether you dream of thrilling
        wildlife encounters, serene beach retreats, or immersive cultural experiences, our knowledgeable
        team will craft bespoke itineraries that leave you with lifelong memories.We
    </p>
    </div>
    <div class="contact-info-content row mb-1">
    <div class="col-lg-4 col-md-6 mb-4">
    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
    <div class="info-icon mb-2">
    <i class="fa fa-map-marker-alt theme"></i>
    </div>
    <div class="info-content">
    <h3>Office Location</h3>
    <p class="m-0"> To be updated</p>
    </div>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
    <div class="info-icon mb-2">
    <i class="fa fa-phone theme"></i>
    </div>
    <div class="info-content">
    <h3>Phone Number</h3>
    
    <p class="m-0"> +49 163 8767374</p>
    <p class="m-0">9+49 177 5377023</p>
    </div>
    </div>
    </div>
     <div class="col-lg-4 col-md-12 mb-4">
    <div class="info-item bg-lgrey px-4 py-5 border-all text-center rounded">
    <div class="info-icon mb-2">
    <i class="fa fa-envelope theme"></i>
    </div>
    <div class="info-content ps-4">
    <h3>Email Address</h3>
    <p class="m-0">info@jungledreamsadventures.com</p>
    <p class="m-0">travel@ungledreamsadventures.com</p>
    </div>
    </div>
    </div>
    </div>
 
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

    {% endblock %}