{% extends 'users/basemain.html' %}
{% load static  %}


{% block content %}

<section class="page-banner overlay pt-170 pb-60 bg_cover" style="background-image: url({% static 'assets/images/bg/page-bg.jpg' %});">    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="page-banner-content text-center text-white">
                <h1 class="page-title"style="background-color: #020333; padding: 15px; border-radius:10px;  display: inline-block;">Corporate Travel</h1>
           
       <h6>
        At Novustell Travel we understand that corporate travel is more than just movement; it's a strategic element of your business. We seamlessly blend our expertise with your goals, ensuring every trip aligns with your objectives.     </h6>
            </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="blog-section  pt-60 black-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <!--=== Blog Content Box ===-->
                <div class="blog-content-box mb-40 wow fadeInLeft text-white" style="visibility: visible; animation-name: fadeInLeft;">
                    <!--=== Section Title ===-->
                    <div class="section-title mb-30">
                        <!-- <span class="sub-title">Why choose us</span> -->
                        <h2>Meet your travel and travel related needs at world-class level and  at the Lowest cost possible</h2>
                    </div>
                  
                </div>
            </div>
            <div class="col-xl-6">
                <!--=== Blog Content Box ===-->
                <div class="blog-content-box mb-40 wow fadeInLeft text-white" style="visibility: visible; animation-name: fadeInLeft;">
                    <!--=== Section Title ===-->
                 
                    <p class="mb-20">We recognize the evolving requirements of modern businesses when it comes to seamless travel arrangements. We intimately understand the daily challenges faced by small to medium enterprises (SMEs). As your business expands, so do the complexities of managing corporate travel expenses, often a significant portion of your financials. Our unwavering commitment is to empower your SME with time and cost savings.

 We are your convenient one-stop hub for all your business travel needs.
                        
                      </p>
                    <a style="color:#ff9900" href="https://wa.me/254701363551" target="_blank" class="btn-link ">Request CallBack<i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
      
        </div>
    </div>
</section>
<br>
<section class="service-section  pt-60 ">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!--=== Section Title ===-->
                <div class="section-title text-center mb-50 ">
                    <!-- <span class="sub-title">Why Novustell Corporate Travel?</span> -->
                    <h2>Why Businesses choose Novustell Corporate Travel?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <img src="{% static 'assets/fonts/support.png' %}" alt="Your Icon Description">
                    </div>
                    <div class="text">
                        <h4 class="title">A Dedicated Travel Manager</h4>
                        <p>A dedicated travel manager for expert guidance in optimizing your company's business trips at no extra cost. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon-wifi-router"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Tailored Solutions</h4>
                        <p>We recognize that Every corporate client is unique, which is why we offer personalized travel solutions. Whether it's large group bookings, executive itineraries, or negotiating competitive rates.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon-solar-energy"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Global Reach</h4>
                        <p>With our vast network of trusted suppliers and travel partners worldwide, we possess the expertise and resources to handle both domestic and international travel requirements seamlessly.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--=== Fancy Icon Box ===-->
                <div class="fancy-icon-box-four mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="icon">
                        <i class="flaticon-cycling"></i>
                    </div>
                    <div class="text">
                        <h4 class="title">Deliverable Savings</h4>
                        <p> With our extensive network of industry partners and cutting-edge technology, we leverage our buying power to secure the most competitive rates for flights, accommodations, and ancillary services.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!--=== Fancy Icon Box ===-->
                <div class=" pt-60 mb-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <h6>Choosing Novustell Corporate Travel is the easiest business decision you’ll make all year. We've made it our business to know the travel needs of yours.</h6>
                    <a style="color:#ff9900; font-size: larger; " href="https://wa.me/254701363551" target="_blank" class="btn-link pt-10 ">Get Started <i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="justify-content-center text-white" >
            <div class="col-xl-10 ">
     

    </div>

</div>
    </div>
</section>
<section class="blog-section pt-10 black-bg pb-10">
    <br><br><br>
    <div class="container">
        <div class="row align-items-center text-white">
            <div class="col-xl-8">
                <!--=== Blog Content Box ===-->
                <div class="blog-content-box mb-40 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                    <!--=== Section Title ===-->
                    <div class="section-title mb-30">
                        <span class="sub-title">Role of our Travel Managers</span>
                        <h2>Your Personal Travel Assistants:  Always at Your Service</h2>
                    </div>
                    <p class="mb-20">Connect directly with a dedicated point of contact who possesses in-depth knowledge of your business and its travel necessities. Our dedicated Travel Managers operate as an extension of your team, much like your personal travel assistants. This personalized, people-centric approach adds exceptional value to your travel program.</p>
                </div>
            </div>
            <div class="col-xl-4">
                <!--=== Single Blog Post ===-->
                <div class="single-place-item-two mb-30 wow fadeInUp">
                    <div class="place-img">
                        <img src="{% static 'assets/images/blog/blog-4.jpg ' %}" alt="Place Image">
                        <span class="tour-count">20+ Services</span>
                       <div class="place-content">
                            <div class="info text-white">
                                <h3 class="title mb-10"><strong>seamless experience</strong> </h3>
                                <div data-animation="fadeInRight" data-delay=".6s"> 
                                    <span class="sub-title">  <a href="https://wa.me/254701363551" target="_blank""> <small> Talk to us <i class="fas fa-paper-plane"></i></small> </a> </span>
                                </div>                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-section black-bg pt-10  " >

    <div class="col-xl-12 ">
        <div  >
            <div class="container " > 
    
    
    <br> 
    <!--=== Section Title ===-->
    
    <!-- <div class="  text-white mb-30 wow fadeInDown">
        <h2>Affordable Journeys, Unforgettable Memories</h2>
            <p class="pt-10" >Welcome to Novustell Travel, our goal is simple: we want every trip you take with us to be affordable and wonderfully memorable. We take care of all the little things to ensure your journey is smooth and effortless, creating moments you'll treasure forever.
                
            </p>
       
    
        </div> -->
     
        <div class="col-xl-12   "> 
     
            
        <div class="row">
            <div class="section-title  text-center text-white   wow fadeInDown">
                <h2>Our Services</h2>
            </div>
            <!-- <div class="section-title  text-white  wow fadeInDown" style="margin-bottom: -25px; ">
              
                    <span class="  sub-title">Our Services</span>
    
                </div> -->
      
                <div class="activity-nav-tab mb-30 wow fadeInLeft" style="background-color: #f6faf900; margin-top: -10px;">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#tab1" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">Air Ticketing </a>
                        </li>
                        <li>
                            <a href="#tab2" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">Airport Transfers</a>
                        </li>
                        <li>
                            <a href="#tab3" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">Car Hire </a>
                        </li>
                        <li>
                            <a href="#tab4" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab4">Hotel Bookings</a>
                        </li>
                        <li>
                            <a href="#tab5" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab5">Visa Assistance</a>
                        </li>
                      
                        <li>
                            <a href="#tab7" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab6">Travel Insurance </a>
                        </li>
                        <li>
                            <a href="#tab8" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab7"> Tours and Safaris</a>
                        </li>
                        <li>
                            <a href="#tab9" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab8">Frequent Flyer Registration</a>
                        </li>
                        <li>
                            <a href="#tab10" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab9">Conference & Meetings</a>
                        </li>
                       
                    </ul>
                </div>
                
                
          
          
        </div>
    </div>  
    <div class="row">
    
        <div class="col-lg-12">
            <!--=== Tab Content ===-->
            <div class="tab-content wow fadeInRight" style="margin-top: -40px;">
                  <!--=== Tab Pane ===-->
                  <div class="tab-pane fade show active" id="tab1">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/2.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Local & International Flights</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> Book a flight <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check" ></i> Air Ticketing Services</li>
                                   
                                </ul>
                               
                                <h4 class="title text-white pt-10"> </h4>
                                <p class="text-white raleway"  ><strong>We assure</strong> access to the best available discounted prices for air tickets. Whether it's a short domestic tripin Kenya  or an overseas venture. Whether it's a short domestic trip or an overseas venture.</p>
                              
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!--=== Tab Pane ===-->
                <div class="tab-pane fade" id="tab2">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/airporttrans.png' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Arrive in Style, Depart with Ease</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> Transfer Options <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check"></i>Airport Transfers</li>
                                   
                                </ul>
                               
                                <h3 class="title text-white"></h3>
                                <p class="text-white raleway">Just as we do with air travel, we work closely with you to integrate ground transportation seamlessly into your travel itineraries. This means that from the moment you  land at you destination, you'll have a pre-arranged car rental waiting for you, ensuring a smooth transition from the airport to your destination.</p>
                              
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!--=== Tab Pane ===-->
                <div class="tab-pane fade" id="tab3">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Variety of Vehicle Options</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> Vehicle List <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check"></i>Car Hire</li>
                                   
                                </ul>
                               
                                <h3 class="title text-white"></h3>
                                <p class="text-white raleway"><Strong>Reliable, comfortable, and well-maintained </Strong> vehicles for your journeys. Whether it's for local commuting or exploring a new city you visit, our car rental options are diverse and well-suited to your needs.</p>
                              
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!--=== Tab Pane ===-->
                <div class="tab-pane fade" id="tab4">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Our Partner <br> Hotels</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> Hot Hotel deals <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check"></i>Tailored Accommodation Options</li>
                                   
                                </ul>
                               
                                <h3 class="title text-white"></h3>
                                <p class="text-white raleway">Understanding that different travellers have distinct preferences and needs, we offer a wide range of accommodation options.  – from luxury hotels to boutique lodgings, budget-friendly stays, and extended-stay solutions. Our commitment to securing competitive rates through partnerships with hotels ensures that regardless of your preferences or budget, you receive exceptional value without compromising on quality.
                                </p>
                              
                            </div>
                        </div>
                    
                    </div>
                </div>
                   <!--=== Tab Pane ===-->
                   <div class="tab-pane fade" id="tab5">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Detailed Application Assistance</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small>Free Consultation <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check"></i>  Expert Guidance on Visa Requirements  </li>
                                   
                                </ul>
                               
                                <h3 class="title text-white"></h3>
                                <p class="text-white raleway"> Our team of visa experts is well-versed in the intricacies of different countries' visa requirements. We guide you through each stage of the visa application process, providing comprehensive instructions on filling out forms, collating necessary documents, and adhering to specific guidelines. Our goal is to make the process as straightforward as possible, reducing the potential for errors or delays.
    
                                </p>
    
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!--=== Tab Pane ===-->
                <div class="tab-pane fade" id="tab6">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content"> 
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong> Travel insurance <br> plans </strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> Free Consultation <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check"></i>  Peace of Mind</li>
                                   
                                </ul>
                               
                             
                                <h3 class="title text-white"></h3>
                                <p class="text-white raleway">   Travel insurance offers more than just financial protection; it provides peace of mind. Knowing that you're covered in case of unforeseen events allows you to focus on your business objectives and enjoy your trip to the fullest.
                                </p>
    
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!--=== Tab Pane ===-->
                <div class="tab-pane fade" id="tab7">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong> Unforgettable <br> Memories</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> Destinations <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                                                     <!--=== Activity Content Box ===-->
                                                     <div class="activity-content-box pl-lg-40">
                                                        <ul class="check-list">
                                                            <li><i class="fas fa-badge-check"></i> Diverse Destinations</li>
                                                           
                                                        </ul>
                                                       
                                                        <h3 class="title text-white"></h3>
                                                        <p class="text-white raleway">Our team of experienced travel planners designs intricate itineraries that optimize your time and showcase the highlights of your chosen destination. From the moment you arrive, every detail is meticulously planned to ensure a seamless and memorable experience
                                                        </p>
        
                                                    </div>
                        </div>
                    
                    </div>
                </div>
                 <!--=== Tab Pane ===-->
                 <div class="tab-pane fade" id="tab7">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Arrive in Style, Depart with Ease</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> For Corporate Travellers <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check"></i>  Expert Guidance on Visa Requirements  </li>
                                   
                                </ul>
                               
                                <h3 class="title text-white"></h3>
                                <p class="text-white raleway">  Understanding that different travellers have distinct preferences and needs, we offer a wide range of accommodation options.  – from luxury hotels to boutique lodgings, budget-friendly stays, and extended-stay solutions. Our commitment to securing competitive rates through partnerships with hotels ensures that regardless of your preferences or budget, you receive exceptional value without compromising on quality.
    
                                </p>
    
                            </div>
                        </div>
                    
                    </div>
                </div>
                 <!--=== Tab Pane ===-->
                 <div class="tab-pane fade" id="tab8">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Travel-related <br> perks</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> Register <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                   <!--=== Activity Content Box ===-->
                   <div class="activity-content-box pl-lg-40">
                    <ul class="check-list">
                        <li><i class="fas fa-badge-check"></i> Special Offers and Discounts</li>
                       
                    </ul>
                
                    <h3 class="title text-white"></h3>
                    <p class="text-white raleway"> Our frequent flyer program members receive exclusive access to special offers, discounted fares, and promotional deals. These offers can significantly enhance the value of your travel experiences.
    
                    </p>
                </div>
                        </div>
                    
                    </div>
                </div>
                   <!--=== Tab Pane ===-->
                   <div class="tab-pane fade" id="tab9">
                    <div class="row align-items-center">
                        <div class="col-xl-4 order-2 order-xl-1">
                            <!--=== We Image Box ===-->
                            <div class="we-two_image-box mb-20">
                                <div class="row align-items-end">
                                    <div class="col-md-6">
                                        <!--=== We Image ===-->
                                    
                                    </div>
                                    <div class="col-md-6">
                                      
                                    </div>
                                    <div class="col-md-12">
                                        <!--=== We Image ===-->
                                        <div class="single-place-item-two mb-30 ">
                                            <div class="place-img">
                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                <span class="tour-count"></span>
                                                <div class="place-content">
                                                    <div class="info text-white">
                                                        <h3 class="title mb-10"><strong>Peace of Mind for Organizers</strong> </h3>
                                                        <div > 
                                                            <span class="sub-title">  <a href="about.html"> <small> For Corporate Travellers <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                        </div>                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!--=== Activity Content Box ===-->
                            <div class="activity-content-box pl-lg-40">
                             <ul class="check-list">
                                 <li><i class="fas fa-badge-check"></i> Guest Transportation & Accomodation</li>
                                
                             </ul>
                         
                             <h3 class="title text-white"></h3>
                             <p class="text-white raleway"> Convenience and comfort are paramount for attendees, which is why we offer comprehensive solutions that ensure a stress-free journey and a restful stay. From arranging transportation to and from the event venue to curating a diverse range of accommodations to suit various preferences and budgets, our dedicated team ensures that every guest's needs are met, from  coordinating airport transfers to providing comfortable lodging.
    
                             </p>
                            
                         </div>
                                 </div>
                    
                    </div>
                </div>
            </div>
        </div>
       
    </div>  
    </div>
    </div>
    </div>
    </section>
    {% include 'users/footer.html' %}
    {% endblock %}