{% load static %}
   
   <!--====== Start Footer ======-->
        <footer class="main-footer black-bg">
            <div class="container">
                <!--=== Footer CTA ===-->
                <div class="footer-cta pt-80 pb-40">
                 
                </div>
                <!--=== Footer Widget ===-->
                <div class="footer-widget-area footer-cta pt-75 pb-30">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget about-company-widget mb-40">
                                <h4 class="widget-title">About</h4>
                                <div class="footer-content">
                                    <p>At Novustell Travel, we're more than just travel experts; we are your strategic partner committed to elevating your travel experiences. We aim to alleviate the burdens of travel logistics, with a genuine commitment to delivering exceptional solutions.

                                        Novustell Travel offers a full spectrum of Conferencing & Travel solutions from anywhere around the Globe. We provide you with a ‘One-Stop Shop’ solution for all your travel requirements.From corporate travel to MICE, student trips to NGO travel, and curated holiday packages -Novustell Travel streamlines every journey for seamless experiences. Ensuring every journey is as rewarding as it is efficient
                                        
                                        With  over 20 years of invaluable experience and a credible reputation on the table. Our mission is to provide you with not only the best travel consultancy but also the most innovative itineraries and cost-effective solutions that exceed expectation.
                                        
                                        We have spent considerable resources to research the Conferencing and Travel requirements within Africa and beyond, so we fully understand the needs of our clients and ensure that we satisfy their expectations.</p>
                                    <a href="#" class="footer-logo"><img src="{% static 'assets/images/logo/logo-white.png' %}" alt="Site Logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget service-nav-widget mb-40 pl-lg-70">
                                <h4 class="widget-title">Services</h4>
                                <div class="footer-content">
                                    <ul class="footer-widget-nav">
                                        <li><a href="#">Air Ticketing </a></li>
                                        <li><a href="#"> Hotel Bookings</a></li>
                                        <li><a href="#">Tours and Safaris </a></li>
                                        <li><a href="#">Visa Assistance</a></li>
                                        <li><a href="#"> Travel Insurance </a></li>
                                        <li><a href="#">Car Hire </a></li>
                                        <li><a href="#"> Frequent Flyer Registration</a></li>
                                    </ul>
                                    <ul class="footer-widget-nav">
                                        <li><a href="#">We are Hiring</a></li>
                                        <li><a href="#">Latest News & Blog</a></li>
                                        <li><a href="#">Our Clients</a></li>
                                        <li><a href="#">Meet Our team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget footer-newsletter-widget mb-40 pl-lg-100">
                                <h4 class="widget-title">Newsletter</h4>
                                <div class="footer-content">
                                    <p>Stay in the loop with the latest travel tips, exclusive offers, and expert insights delivered directly to your inbox.</p>
                                    <form>
                                        <div class="form_group">
                                            <label><i class="far fa-paper-plane"></i></label>
                                            <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=== Footer Copyright ===-->
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--=== Footer Text ===-->
                            <div class="footer-text">
                                <p>Copy@ 2023 <span style="color: #F7921E;">Novustell travel </span> | Registration PVT-EYUB3KZP</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--=== Footer Nav ===-->
                            <div class="footer-nav float-lg-end">
                                <ul>
                                    <li><a href="#">Faqs</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--====== End Footer ======-->
        <!--====== Back To Top  ======-->
        <a href="#" class="back-to-top" ><i class="far fa-angle-up"></i></a>
        <!--====== Jquery js ======-->