{% extends 'users/basemain.html' %}
{% load static  %}


{% block content %}
       <!--====== Start Hero Section ======-->
       <section class="hero-section">
        <div class="hero-wrapper-three">
            <div class="hero-arrows"></div>
            <div class="hero-slider-three">
                <!--=== Single Slider ===-->
                <div class="single-slider">
                    <div class="image-layer bg_cover" style="background-image: url({% static 'assets/images/hero/hero-three_img-1.jpg' %});"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-8">
                                <!--=== Hero Content ===-->
                                <div class="hero-content text-white">
                                    <span class="sub-title">Aronia Travel</span>
                                    <h1 data-animation="fadeInDown" data-delay=".4s">Effortless Corporate travel</h1>
                                    <div class="hero-button" data-animation="fadeInRight" data-delay=".6s"> 
                                        <a href="{% url 'users:corporatepage'%} " class="main-btn secondary-btn">Corporate Travel<i class="fas fa-paper-plane"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=== Single Slider ===-->
            
                <div class="single-slider">
                    <div class="image-layer bg_cover" style="background-image: url({% static 'assets/images/hero/hero-three_img-3.jpg' %});"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <!--=== Hero Content ===-->
                                <div class="hero-content text-white">
                                    <span class="sub-title">Aronia Travel</span>
                                    <h1 data-animation="fadeInDown" data-delay=".4s">Accomodation
                                        & Hotel Deals</h1>
                                    <div class="hero-button" data-animation="fadeInRight" data-delay=".6s"> 
                                        <a href="about.html" class="main-btn primary-btn">View all Hotels<i class="fas fa-paper-plane"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=== Single Slider ===-->
                <div class="single-slider">
                    <div class="image-layer bg_cover" style="background-image: url({% static 'assets/images/hero/hero-three_img-2.jpg' %});"></div>
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7">
                                <!--=== Hero Content ===-->
                                <div class="hero-content text-white">
                                    <span class="sub-title">Aronia Travel</span>
                                    <h1 data-animation="fadeInDown" data-delay=".4s">Holidays
                                        & Tour Packages</h1>
                                    <div class="hero-button" data-animation="fadeInRight" data-delay=".6s"> 
                                        <a href="{% url 'users:all_packages'%} " class="main-btn primary-btn">All Packages<i class="fas fa-paper-plane"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End Hero Section ======-->
    <!--====== Start Features Section ======-->
    <section class="features-section pt-80 pb-50">
        <div class="container">
            <div class="row align-items-xl-center">
                <div class="col-xl-6">
                    <!--=== Features Content Box ===-->
                    <div class="features-content-box pr-lg-10 mb-50">
                        <!--=== Section Title ===-->
                        <div class="section-title mb-30">
                            <h2>Your Gateway to Seamless Travel Solutions</h2>
                        </div>
                        <p class="mb-30">Elevate your travel experience with Aronia Travel , a dynamic company dedicated to providing the best travel arrangements that exceed your expectations. We pride ourselves in offering competitive rates while upholding integrity, trust, and personalized services, without compromising our high standards.</p>
                        <a href="{% url 'users:aboutus'%} " class="main-btn filled-btn">view All Services<i class="far fa-paper-plane"></i></a>
                    </div>
                </div>
                <div class="col-xl-6">
                     <div class="features-list_one">
                            <!--=== Single Features List ===-->
                            <div class="single-features-list mb-40">
                                <div class="icon-inner d-flex align-items-center">
                                
                                    <div class="icon">
                                        <i class="flaticon-travel"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>Domestic and International Air Ticketing </h4>
                                    <p>Effortless travel with expert itineraries, cost-effective schedules, and personalized service for every destination.</p>
                                </div>
                            </div>
                            <!--=== Single Features List ===-->
                            <div class="single-features-list mb-40">
                                <div class="icon-inner d-flex align-items-center">
                                
                                    <div class="icon">
                                        <i class="flaticon-flight"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4> Streamlined Ticketing Services </h4>
                                    <p>Efficient, IATA-trained staff, 24/7 connectivity—ensuring precision, prompt responses, and stress-free travel arrangements.</p>
                                </div>
                            </div>
                            <!--=== Single Features List ===-->
                            <div class="single-features-list mb-40">
                                <div class="icon-inner d-flex align-items-center">
                                
                                    <div class="icon">
                                        <i class="flaticon-best-price"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>Cost-Effective Travel planning </h4>
                                    <p>Budget-friendly journeys—expert advice, group discounts, and timely updates for efficient travel planning.</p>
                                </div>
                            </div>
                            <div class="single-features-list mb-40">
                                <div class="icon-inner d-flex align-items-center">
                                
                                    <div class="icon">
                                        <i class="flaticon-tent"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4>Exclusive Hotel Reservationse</h4>
                                    <p> Elevate your stay with best rates, special packages, and early booking advantages worldwide.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
 

    <!--====== Start Gallery Section ======-->
    <section class="gallery-section-two pb-100">
        <div class="container-fluid">
            <!--=== Gallery Slider ===-->
            <div class="col-lg-8">
            <div class="section-title mb-60">
         
            <span class="sub-title">Top packages</span>
            <h2>Best Picks for Your Unforgettable Journeys</h2>
        </div>
           </div>
            <div class="slider-active-3-item-dot">
                <!--=== Gallery Item ===-->
                <div class="single-gallery-item-two">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/gallery/maasaimara.jpg' %}" alt="Gallery Image">
                    </div>
                    <div class="content">
                        <h3 class="title">5 Days 4 nights Safari Adventure @ Maasai Mara </h3>
                        <a href="#">Adventure & Travel</a>
                    </div>
                </div>
                <!--=== Gallery Item ===-->
                <div class="single-gallery-item-two">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/gallery/egypt2.png ' %}" alt="Gallery Image">
                    </div>
                    <div class="content">
                        <h3 class="title">A Nile Adventure:7 Days Enchanting Egypt Expedition: </h3>
                        <a href="#">Adventure & Travel</a>
                    </div>
                </div>
                <!--=== Gallery Item ===-->
                <div class="single-gallery-item-two">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/gallery/riftvalley2.jpg'%}" alt="Gallery Image">
                    </div>
                    <div class="content">
                        <h3 class="title">8 Days exploring the Great Rift Valley</h3>
                        <a href="#">Adventure & Travel</a>
                    </div>
                </div>
                <!--=== Gallery Item ===-->
                <div class="single-gallery-item-two">
                    <div class="img-holder">
                        <img src="{% static 'assets/images/gallery/amboseli.jpg' %}" alt="Gallery Image">
                    </div>
                    <div class="content">
                        <h3 class="title">5 days Adventure in Amboseli: Kilimanjaro Views</h3>
                        <a href="#">Adventure & Travel</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End Gallery Section ======-->

    <!--====== Start Partners Section ======-->
    <section class="partners-section">
        <div class="container">
            <!--=== Partners Slider ===-->
            <div class="partner-slider-one pt-80 pb-70 wow fadeInUp" style="margin-left: 90px;">
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-1.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-2.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-3.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-4.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-5.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <!--=== Partner Item ===-->
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-6.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-7.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-8.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
                <div class="single-partner-item">
                    <div class="partner-img">
                        <a href="#"><img src="{% static 'assets/images/partner/partner-9.png' %}" alt="Partner Image"></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--====== End Partners Section ======-->

{% include 'users/footer.html' %}

       
{% endblock %}