{% extends 'users/basemain.html' %}
{% load static  %}


{% block content %}



   
    <section class="services-section black-bg pt-100  " >
        <div class="container">
          
              
                <div class="row ">
                 
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="single-place-item-two mb-30 wow fadeInUp">
                            <div class="place-img">
                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                <span class="tour-count">15+ exclusive services</span>
                                <div class="place-content">
                                    <div class="info text-white">
                                        <h3 class="title mb-10"><strong>Efficient Corporate  <br> Travel Solutions</strong> </h3>
                                        <div data-animation="fadeInRight" data-delay=".6s"> 
                                            <span class="sub-title">  <a href="{% url 'users:corporatepage'%} "> <small> For Corporate Travellers <i class="fas fa-paper-plane"></i></small> </a> </span>
                                        </div>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                  
                    <div class="col-lg-6 col-md-12">
                        <div class="single-place-item-two mb-30 wow fadeInUp">
                            <div class="place-img">
                                <img src="{% static 'assets/images/place/place-122.jpg' %}" alt="Place Image">
                                <span class="tour-count">2e0+ Destinations</span>
                               <div class="place-content">
                                    <div class="info text-white">
                                        <h3 class="title mb-10"><strong>Crafting Memories <br> One Journey at a Time</strong> </h3>
                                        <div data-animation="fadeInRight" data-delay=".6s"> 
                                            <span class="sub-title">  <a href="{% url 'users:all_packages'%} "> <small> Curated Holidays & Tours <i class="fas fa-paper-plane"></i></small> </a> </span>
                                        </div>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
                <br>   <br>
                <div class="container " style="margin-left: -20px;">
                <div class="  text-white mb-30 wow fadeInDown">
                    <h1 style="font-size: 53px;">Affordable Journeys,  Unforgettable Memories</h1>
                  
                        <p class="pt-10" >Welcome to Novustell Travel, <strong>our goal is simple: </strong> We want every trip you take with us to be affordable and wonderfully memorable. We take care of all the little things to ensure your journey is smooth and effortless, creating moments you'll treasure forever.
                            
                        </p>
                   
    
                    </div>
                </div>
            </div>
                <div class="col-xl-12 pt-10 ">
                        <div  >
                            <div class="container " > 

                  
                    <br> 
                    <!--=== Section Title ===-->
                    
                    <!-- <div class="  text-white mb-30 wow fadeInDown">
                        <h2>Affordable Journeys, Unforgettable Memories</h2>
                            <p class="pt-10" >Welcome to Novustell Travel, our goal is simple: we want every trip you take with us to be affordable and wonderfully memorable. We take care of all the little things to ensure your journey is smooth and effortless, creating moments you'll treasure forever.
                                
                            </p>
                       

                        </div> -->
                        
                        <div class="col-xl-12   "> 
                     
                            
                        <div class="row ">
                            <div class="section-title text-white text-center wow fadeInDown">
                                <h2>Our Services</h2>
                            </div>
                            <!-- <div class="section-title  text-white  wow fadeInDown" style="margin-bottom: -25px; ">
                              
                                    <span class="  sub-title">Our Services</span>
        
                                </div> -->
                      
                                <div class="activity-nav-tab mb-30 wow fadeInLeft" style="background-color: #f6faf900; margin-top: -10px;">
                                    <ul class="nav nav-tabs">
                                        <li>
                                            <a href="#tab1" class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab1">Air Ticketing </a>
                                        </li>
                                        <li>
                                            <a href="#tab2" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab2">Airport Transfers</a>
                                        </li>
                                        <li>
                                            <a href="#tab3" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab3">Car Hire </a>
                                        </li>
                                        <li>
                                            <a href="#tab4" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab4">Hotel Bookings</a>
                                        </li>
                                        <li>
                                            <a href="#tab5" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab5">Visa Assistance</a>
                                        </li>
                                      
                                        <li>
                                            <a href="#tab7" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab6">Travel Insurance </a>
                                        </li>
                                        <li>
                                            <a href="#tab8" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab7"> Tours and Safaris</a>
                                        </li>
                                        <li>
                                            <a href="#tab9" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab8">Frequent Flyer Registration</a>
                                        </li>
                                        <li>
                                            <a href="#tab10" class="nav-link" data-bs-toggle="tab" data-bs-target="#tab9">Conference & Meetings</a>
                                        </li>
                                       
                                    </ul>
                                </div>
                                
                                
                          
                          
                        </div>
                    </div>  
                    <div class="row">
                 
                        <div class="col-lg-12">
                            <!--=== Tab Content ===-->
                            <div class="tab-content mb-50 wow fadeInRight" style="margin-top: -40px;">
                                  <!--=== Tab Pane ===-->
                                  <div class="tab-pane fade show active" id="tab1">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/2.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Local & International Flights</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> Book a flight <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                                <ul class="check-list">
                                                    <li><i class="fas fa-badge-check" ></i> Air Ticketing Services</li>
                                                   
                                                </ul>
                                               
                                                <h4 class="title text-white pt-10"> </h4>
                                                <p class="text-white raleway"  ><strong>We assure</strong> access to the best available discounted prices for air tickets. Whether it's a short domestic tripin Kenya  or an overseas venture. Whether it's a short domestic trip or an overseas venture.</p>
                                              
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <!--=== Tab Pane ===-->
                                <div class="tab-pane fade" id="tab2">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/airporttrans.png' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Arrive in Style, Depart with Ease</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> Transfer Options <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                                <ul class="check-list">
                                                    <li><i class="fas fa-badge-check"></i>Airport Transfers</li>
                                                   
                                                </ul>
                                               
                                                <h3 class="title text-white"></h3>
                                                <p class="text-white raleway">Just as we do with air travel, we work closely with you to integrate ground transportation seamlessly into your travel itineraries. This means that from the moment you  land at you destination, you'll have a pre-arranged car rental waiting for you, ensuring a smooth transition from the airport to your destination.</p>
                                              
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <!--=== Tab Pane ===-->
                                <div class="tab-pane fade" id="tab3">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Variety of Vehicle Options</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> Vehicle List <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                                <ul class="check-list">
                                                    <li><i class="fas fa-badge-check"></i>Car Hire</li>
                                                   
                                                </ul>
                                               
                                                <h3 class="title text-white"></h3>
                                                <p class="text-white raleway"><Strong>Reliable, comfortable, and well-maintained </Strong> vehicles for your journeys. Whether it's for local commuting or exploring a new city you visit, our car rental options are diverse and well-suited to your needs.</p>
                                              
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <!--=== Tab Pane ===-->
                                <div class="tab-pane fade" id="tab4">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Our Partner <br> Hotels</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> Hot Hotel deals <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                                <ul class="check-list">
                                                    <li><i class="fas fa-badge-check"></i>Tailored Accommodation Options</li>
                                                   
                                                </ul>
                                               
                                                <h3 class="title text-white"></h3>
                                                <p class="text-white raleway">Understanding that different travellers have distinct preferences and needs, we offer a wide range of accommodation options.  – from luxury hotels to boutique lodgings, budget-friendly stays, and extended-stay solutions. Our commitment to securing competitive rates through partnerships with hotels ensures that regardless of your preferences or budget, you receive exceptional value without compromising on quality.
                                                </p>
                                              
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                   <!--=== Tab Pane ===-->
                                   <div class="tab-pane fade" id="tab5">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Detailed Application Assistance</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small>Free Consultation <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                                <ul class="check-list">
                                                    <li><i class="fas fa-badge-check"></i>  Expert Guidance on Visa Requirements  </li>
                                                   
                                                </ul>
                                               
                                                <h3 class="title text-white"></h3>
                                                <p class="text-white raleway"> Our team of visa experts is well-versed in the intricacies of different countries' visa requirements. We guide you through each stage of the visa application process, providing comprehensive instructions on filling out forms, collating necessary documents, and adhering to specific guidelines. Our goal is to make the process as straightforward as possible, reducing the potential for errors or delays.

                                                </p>

                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <!--=== Tab Pane ===-->
                                <div class="tab-pane fade" id="tab6">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content"> 
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong> Travel insurance <br> plans </strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> Free Consultation <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                                <ul class="check-list">
                                                    <li><i class="fas fa-badge-check"></i>  Peace of Mind</li>
                                                   
                                                </ul>
                                               
                                             
                                                <h3 class="title text-white"></h3>
                                                <p class="text-white raleway">   Travel insurance offers more than just financial protection; it provides peace of mind. Knowing that you're covered in case of unforeseen events allows you to focus on your business objectives and enjoy your trip to the fullest.
                                                </p>

                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <!--=== Tab Pane ===-->
                                <div class="tab-pane fade" id="tab7">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong> Unforgettable <br> Memories</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> Destinations <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                                                     <!--=== Activity Content Box ===-->
                                                                     <div class="activity-content-box pl-lg-40">
                                                                        <ul class="check-list">
                                                                            <li><i class="fas fa-badge-check"></i> Diverse Destinations</li>
                                                                           
                                                                        </ul>
                                                                       
                                                                        <h3 class="title text-white"></h3>
                                                                        <p class="text-white raleway">Our team of experienced travel planners designs intricate itineraries that optimize your time and showcase the highlights of your chosen destination. From the moment you arrive, every detail is meticulously planned to ensure a seamless and memorable experience
                                                                        </p>
                        
                                                                    </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                 <!--=== Tab Pane ===-->
                                 <div class="tab-pane fade" id="tab7">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Arrive in Style, Depart with Ease</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> For Corporate Travellers <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                                <ul class="check-list">
                                                    <li><i class="fas fa-badge-check"></i>  Expert Guidance on Visa Requirements  </li>
                                                   
                                                </ul>
                                               
                                                <h3 class="title text-white"></h3>
                                                <p class="text-white raleway">  Understanding that different travellers have distinct preferences and needs, we offer a wide range of accommodation options.  – from luxury hotels to boutique lodgings, budget-friendly stays, and extended-stay solutions. Our commitment to securing competitive rates through partnerships with hotels ensures that regardless of your preferences or budget, you receive exceptional value without compromising on quality.

                                                </p>

                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                 <!--=== Tab Pane ===-->
                                 <div class="tab-pane fade" id="tab8">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Travel-related <br> perks</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> Register <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                   <!--=== Activity Content Box ===-->
                                   <div class="activity-content-box pl-lg-40">
                                    <ul class="check-list">
                                        <li><i class="fas fa-badge-check"></i> Special Offers and Discounts</li>
                                       
                                    </ul>
                                
                                    <h3 class="title text-white"></h3>
                                    <p class="text-white raleway"> Our frequent flyer program members receive exclusive access to special offers, discounted fares, and promotional deals. These offers can significantly enhance the value of your travel experiences.

                                    </p>
                                </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                   <!--=== Tab Pane ===-->
                                   <div class="tab-pane fade" id="tab9">
                                    <div class="row align-items-center">
                                        <div class="col-xl-4 order-2 order-xl-1">
                                            <!--=== We Image Box ===-->
                                            <div class="we-two_image-box mb-20">
                                                <div class="row align-items-end">
                                                    <div class="col-md-6">
                                                        <!--=== We Image ===-->
                                                    
                                                    </div>
                                                    <div class="col-md-6">
                                                      
                                                    </div>
                                                    <div class="col-md-12">
                                                        <!--=== We Image ===-->
                                                        <div class="single-place-item-two mb-30 ">
                                                            <div class="place-img">
                                                                <img src="{% static 'assets/images/place/place-12.jpg' %}" alt="Place Image">
                                                                <span class="tour-count"></span>
                                                                <div class="place-content">
                                                                    <div class="info text-white">
                                                                        <h3 class="title mb-10"><strong>Peace of Mind for Organizers</strong> </h3>
                                                                        <div > 
                                                                            <span class="sub-title">  <a href=""> <small> For Corporate Travellers <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                        </div>                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <!--=== Activity Content Box ===-->
                                            <div class="activity-content-box pl-lg-40">
                                             <ul class="check-list">
                                                 <li><i class="fas fa-badge-check"></i> Guest Transportation & Accomodation</li>
                                                
                                             </ul>
                                         
                                             <h3 class="title text-white"></h3>
                                             <p class="text-white raleway"> Convenience and comfort are paramount for attendees, which is why we offer comprehensive solutions that ensure a stress-free journey and a restful stay. From arranging transportation to and from the event venue to curating a diverse range of accommodations to suit various preferences and budgets, our dedicated team ensures that every guest's needs are met, from  coordinating airport transfers to providing comfortable lodging.
         
                                             </p>
                                            
                                         </div>
                                                 </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>  
                </div>
            </div>
        </div>
            <!--=== Service Slider One ===-->
         
       
    </section><!--====== End Services Section ======-->

            <!--====== Start Why us Section ======-->
            <section class="activity-section " style="margin-top: -95px;">
                <div class="activity-wrapper-bgc  text-white black-bg">
                    <div class="container">
                        
                                                        <span class="sub-title" style="margin-top: -35px;">Why Choose High Flyers Ventures</span>

                        <div class="row ">
                            <div class="col-xl-6">
<br>
                                <div class="section-title  mb-50 wow fadeInDown" style="margin-top: 5px;">
                                    <h2> Each journey is a vivid masterpiece of savings and unforgettable moments </h2>
                                    <p> <strong>- It's just that simple. </strong></p>
                                    <br>

                                </div>

                            </div>
                            <div class="col-md-6">
                                <!--=== Activity Content Box ===-->
                                <div class="activity-content-box pl-lg-30">
                                
                                    <p> We bring over 20 years of invaluable experience and a credible reputation to the table.</p>
                                    <ul class="check-list">
                                        <li><i class="fas fa-badge-check"></i>Expertise You Can Trust</li>
                                          <li><i class="fas fa-badge-check"></i>Best Rates In the Market</li>
                                         <li><i class="fas fa-badge-check"></i>  Customer Care 24/7</li>
                                        <li><i class="fas fa-badge-check"></i>Innovative Travel Solutions</li>
                                         <li><i class="fas fa-badge-check"></i>Easy & Quick Booking</li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                 
                    </div>
                </div>
                
            </section><!--====== End Why us Section ======-->
            <section class="features-section black-bg "style="margin-top: -55px;">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <!--=== Section Title ===-->
                            <div class="section-title text-center text-white mb-45 wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                <h2>Wide range of accommodation options</h2>
                                <span class="sub-title">Hotel Deals</span>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                   
                        <div class="col-xl-3 col-md-6 col-sm-12">
                            <!--=== Features Image Item ===-->
                            <div class="single-features-item-two mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="img-holder">
                                 
                                    <img src="{% static 'assets/images/partner/s.jpg' %}" alt="Features Image">
                                    <div class="item-overlay">
                                        <div class="place-content">
                                            <div class="info text-white">
                                                <h3 class="title mb-10"><strong>Sarova White sands Resort</strong> </h3>
                                                                                  </div>
                                                                                  <div data-animation="fadeInRight" data-delay=".6s"> 
                                                                                    <span class="sub-title">  <a href="{% url 'users:all_packages'%} "> <small> From Kes 35,000 <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                                </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-sm-12">
                            <!--=== Features Image Item ===-->
                            <div class="single-features-item-two mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="img-holder">
                                 
                                    <img src="{% static 'assets/images/partner/h.jpg' %}"  alt="Features Image">
                                    <div class="item-overlay">
                                        <div class="place-content">
                                            <div class="info text-white">
                                                <h3 class="title mb-10"><strong>Hermingways, Watamu</strong> </h3>
                                                                                  </div>
                                                                                  <div data-animation="fadeInRight" data-delay=".6s"> 
                                                                                    <span class="sub-title">  <a href="{% url 'users:all_packages'%} "> <small> From Kes 30,000 <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                                </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    <div class="col-xl-3 col-md-6 col-sm-12">
                            <!--=== Features Image Item ===-->
                            <div class="single-features-item-two mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="img-holder">
                                 
                                    <img src="{% static 'assets/images/partner/v.jpg' %}"  alt="Features Image">
                                    <div class="item-overlay">
                                        <div class="place-content">
                                            <div class="info text-white">
                                                <br>
                                                <h3 class="title mb-10"><strong>Voyager Beach Resort</strong> </h3>
                                                                                  </div>
                                                                                  <div data-animation="fadeInRight" data-delay=".6s"> 
                                                                                    <span class="sub-title">  <a href="{% url 'users:all_packages'%} "> <small> From Kes 20,000 <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                                </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    <div class="col-xl-3 col-md-6 col-sm-12">
                            <!--=== Features Image Item ===-->
                            <div class="single-features-item-two mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="img-holder">
                                 
                                    <img src="{% static 'assets/images/partner/m.jpg' %}" alt="Features Image">
                                    <div class="item-overlay">
                                        <div class="place-content">
                                            <div class="info text-white">
                                                <h3 class="title mb-10"><strong>Mara Serena Safari Lodge</strong> </h3>
                                                                                  </div>
                                                                                  <div data-animation="fadeInRight" data-delay=".6s"> 
                                                                                    <span class="sub-title">  <a href="{% url 'users:all_packages'%} "> <small> From Kes 23,000 <i class="fas fa-paper-plane"></i></small> </a> </span>
                                                                                </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>     
            {% include 'users/footer.html' %}

       
{% endblock %}
