{% load static %}

<header class="main_header_area">
    <div class="header-content py-1 bg-theme">
    <div class="container d-flex align-items-center justify-content-between">
    <div class="links">
    <ul>
    <!-- <li><a href="#" class="white"><i class="icon-location-pin white"></i> Nairobi, Kenya | Eagle house Kilimani, off Ngong Rd</a></li> -->
    <li><a href="#" class="white"><i class="icon-clock white"></i> Mon-Fri: 10 AM – 5 PM</a></li>
    <li><a href="#" class="white"><i class="icon-phone white"></i> +49 163 8767374</a></li>
    <li><a href="#" class="white"><i class="icon-phone white"></i>+49 177 5377023</a></li>
    </ul>
    </div>
    <div class="links float-right">
    <ul>
    <li><a href="#" class="white"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#" class="white"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#" class="white"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="#" class="white"><i class="fab fa-linkedin " aria-hidden="true"></i></a></li>
    </ul>
    </div>
    </div>
    </div>

    <div class="header_menu" id="header_menu">
    <nav class="navbar navbar-default">
    <div class="container">
    <div class="navbar-flex d-flex align-items-center justify-content-between w-100 pb-3 pt-3">
    
    <div class="navbar-header">
    <a class="navbar-brand" href="">
    <img src="{% static 'assets2/images/logo.png' %}"  style="  width: 110%;" alt="image">
    </a>
    </div>
    
    <div class="navbar-collapse1 d-flex align-items-center" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" id="responsive-menu">
     <li><a href="">Home</a></li>
    
    <li><a href="">About Us</a></li>
    
    <li class="submenu dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Destinations <i class="icon-arrow-down" aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
    <li><a href="">Nakuru</a></li>
    <li><a href="">Mombasa</a></li>
    <li><a href="">Diani</a></li>
    <li><a href="">Samburu</a></li>
    
    </ul>
    </li>
    <li class="submenu dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tours<i class="icon-arrow-down" aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
        
    <li><a href="">Sightseeing Tours</a></li>
    <li><a href="">Wildlife Safaris</a></li>
    <li><a href="">Adventure Tours</a></li>
    <li><a href="">Historical Tours</a></li>
    <li><a href="">Multi-Day Tours</a></li>
    
    </ul>
    </li>
    <li><a href="">Blogs</a></li>
    <li><a href="">Contact Us</a></li>
    
    
    <li >
                        
        <div id="google_translate_element"></div>
    
    </li>
    </ul>
    </div>
       
    
    <div class="register-login d-flex align-items-center">
        {% if user.is_authenticated %}
  <a href="/logout" class="login-btn">  Logout 
  </a>
      {% else %}
    <a href="/login" class="me-3">
    <i class="icon-user"></i> Login
    </a>
    {% endif %}  
    <!-- <a href="#" class="nir-btn white">Book Now</a> -->
    </div>
    <div id="slicknav-mobile"></div>
    </div>
    </div>
    </nav>
    </div>
    
    </header>