{% extends 'users/basenoheader.html' %}
{% load static  %}


{% block content %}

<section 
    class="page-banner overlay pt-170 pb-100 bg_cover" 
    style="background-image: url({{ package.Image.cdn_url }});">
 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="page-banner-content text-center text-white">
                    <h1 class="page-title">{{package_name}}</h1>
                    <ul class="breadcrumb-link text-white">
                     
                        <li><i class="fas fa-map-marker-alt"></i> <a href=""> {{destination_name}}, {{ package.destination.city }} {{package.accommodation.hotel_name}}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="place-details-section " style="margin-top: -30px;">
    <!--=== Place Slider ===-->
    <div class="place-slider-area overflow-hidden wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="place-slider slick-initialized slick-slider">
            
            
            
            
        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 20000px; transform: translate3d(-2470px, 0px, 0px);"><div class="place-slider-item slick-slide slick-cloned" tabindex="-1" style="" data-slick-index="-1" id="" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-2.jpg" alt="Place Image">
                </div>
            </div><div class="place-slider-item slick-slide" tabindex="-1" style="" data-slick-index="0" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-1.jpg" alt="Place Image">
                </div>
            </div><div class="place-item slick-slide" tabindex="-1" style="" data-slick-index="1" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-2.jpg" alt="Place Image">
                </div>
            </div><div class="place-slider-item slick-slide slick-current slick-active" tabindex="0" style="" data-slick-index="2" aria-hidden="false">
                <div class="place-img">
                    <img src="assets/images/place/single-place-3.jpg" alt="Place Image">
                </div>
            </div><div class="place-slider-item slick-slide" tabindex="-1" style="" data-slick-index="3" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-2.jpg" alt="Place Image">
                </div>
            </div><div class="place-slider-item slick-slide slick-cloned" tabindex="-1" style="" data-slick-index="4" id="" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-1.jpg" alt="Place Image">
                </div>
            </div><div class="place-item slick-slide slick-cloned" tabindex="-1" style="" data-slick-index="5" id="" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-2.jpg" alt="Place Image">
                </div>
            </div><div class="place-slider-item slick-slide slick-cloned" tabindex="-1" style="" data-slick-index="6" id="" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-3.jpg" alt="Place Image">
                </div>
            </div><div class="place-slider-item slick-slide slick-cloned" tabindex="-1" style="" data-slick-index="7" id="" aria-hidden="true">
                <div class="place-img">
                    <img src="assets/images/place/single-place-2.jpg" alt="Place Image">
                </div>
            </div></div></div></div>
    </div>
    <div class="container">
        <!--=== Tour Details Wrapper ===-->
        <div class="tour-details-wrapper pt-80">
            <!--=== Tour Title Wrapper ===-->
            <div class="tour-title-wrapper pb-30 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="tour-title mb-20">
                            <h3 class="title">{{package_name}} </h3>
                            <p><i class="far fa-map-marker-alt"></i>{{destination_name}}, {{ package.destination.city }} </p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="tour-widget-info">
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <i class="fal fa-box-usd"></i>
                                </div>
                                <div class="info">
                                    <h4><span>From</span>KES {{ package.adult_price }}</h4>
                                </div>
                            </div>
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="info">
                                    <h4><span>Durations</span>{{ package.number_of_days }} Days</h4>
                                </div>
                            </div>
                            <!-- <div class="info-box mb-20">
                                <div class="icon">
                                    <i class="fal fa-planet-ringed"></i>
                                </div>
                                <div class="info">
                                    <h4><span>Tour Type</span>City Tour</h4>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <!--=== Tour Area Nav ===-->
            <div class="tour-area-nav pt-20 pb-20 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="ratings-box">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="share-nav">
                            <a href="#">Share<i class="far fa-share"></i></a>
                            <a href="#">Reviews<i class="far fa-share"></i></a>
                            <a href="{% url 'users:users-bookings' package_id=package.id %}" class="btn btn-primary">Book Now</a>
                            <a href="#">Whislist<i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <!--=== Place Content Wrap ===-->
                    <div class="place-content-wrap pt-45 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <h3 class="title">{{package_name}}</h3>
                        <p>{{package.description}}</p>
                       
                   
                    </div>
                    <!--=== Days Area ===-->
                    <!-- <div class="days-area mb-55 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <ul class="nav nav-tabs mb-35" role="tablist">
                            {% for day in itinerary_description %}
                            <li class="nav-item" role="presentation">
                                <button class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#day{{ forloop.counter }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" role="tab" tabindex="-1">Day {{ forloop.counter }}</button>
                            </li>
                        {% endfor %}
                        </ul>
                        
                        <div class="tab-content">
                            {% for day in itinerary_description %}
            <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="day{{ forloop.counter }}" role="tabpanel">
                <div class="content-box">
                    <p>{{ day.itinerary_description }}</p>
                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                        <br><br>
                        <div class="row align-items-lg-center">
                            <div class="col-lg-5">
                                <ul class="check-list">
                                    <li><i class="fas fa-badge-check"></i>Parking in the Camp</li>
                                    <li><i class="fas fa-badge-check"></i>Pick and Drop Services</li>
                                    <li><i class="fas fa-badge-check"></i>Washing Machines</li>
                                    <li><i class="fas fa-badge-check"></i>Cruise Dinner &amp; Music Event</li>
                                    <li><i class="fas fa-badge-check"></i>Visit 5 Best Places With Group</li>
                                    <li><i class="fas fa-badge-check"></i>Motorhome service</li>
                                    <li><i class="fas fa-badge-check"></i>1 Meal Per Day</li>
                                </ul>
                            </div>
                            <div class="col-lg-7">
                                <img src="assets/images/place/single-place-4.jpg" class="mb-20 w-100" alt="place image">
                            </div>
                        </div>
                        <h4>Tour Plan</h4>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur 
                            vel eillum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                        <ul class="check-list">
                            <li><i class="fas fa-badge-check"></i>Parking in the Camp</li>
                            <li><i class="fas fa-badge-check"></i>kayaking Sport</li>
                            <li><i class="fas fa-badge-check"></i>Mountain Hiking</li>
                        </ul>
                        <h4>Advance Facilities</h4>
                        <p>Neque porro quisquam est dolorem ipsum quia dolor si amet consectetur adipisci velit sed quian numquam eius tempora incidunt labore dolore magnam aliquam quaerat voluptatem.</p>
                    </div> -->
                    <div class="days-area mb-55 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <ul class="nav nav-tabs mb-35" role="tablist">
                            {% for day in itinerary_description %}
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link {% if forloop.first %}active{% endif %}" 
                                            data-bs-toggle="tab" 
                                            data-bs-target="#day{{ forloop.counter }}" 
                                            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" 
                                            role="tab" tabindex="-1">Day {{ forloop.counter }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for day in itinerary_description %}
                                <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" id="day{{ forloop.counter }}" role="tabpanel">
                                    <div class="content-box">
                                        <p>{{ day.itinerary_description }}</p> <!-- Displaying the description of each day -->
                                        <h4>Tour Plan</h4>
                                        <p>{{ day.tour_plan }}</p> <!-- Assuming tour_plan is part of your itinerary model -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                    <!--=== Calendar Box ===-->
                 
                    <!--=== Releted Tour Place ===-->
                    <div class="related-tour-place wow fadeInUp" style="visibility: hidden; animation-name: none;">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-title mb-35">
                                    <h3>Related Tours</h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="place-arrows mb-35"><div class="prev slick-arrow" style=""><i class="far fa-arrow-left"></i></div><div class="next slick-arrow" style=""><i class="far fa-arrow-right"></i></div></div>
                            </div>
                        </div>
                        <div class="recent-place-slider slick-initialized slick-slider">
                            <!--=== Single Place Item ===-->
                            
                            <!--=== Single Place Item ===-->
                            
                            <!--=== Single Place Item ===-->
                            
                        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 2800px; transform: translate3d(-800px, 0px, 0px); transition: transform 800ms;"><div class="single-place-item mb-60 slick-slide slick-cloned" tabindex="-1" style="width: 376px;" data-slick-index="-1" id="" aria-hidden="true">
                                <div class="place-img">
                                    <img src="assets/images/place/place-3.jpg" alt="Place Image">
                                </div>
                                <div class="place-content">
                                    <div class="info">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><a href="#" tabindex="-1">(4.9)</a></li>
                                        </ul>
                                        <h4 class="title"><a href="tour-details.html" tabindex="-1">Body of Water Near Mountain</a></h4>
                                        <p class="location"><i class="fas fa-map-marker-alt"></i>North Province, Maldives</p>
                                        <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                                        <div class="meta">
                                            <span><i class="far fa-clock"></i>05 Days</span>
                                            <span><i class="far fa-user"></i>25</span>
                                            <span><a href="tour-details.html" tabindex="-1">Details<i class="far fa-long-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="single-place-item mb-60 slick-slide" tabindex="0" style="width: 376px;" data-slick-index="0" aria-hidden="true">
                                <div class="place-img">
                                    <img src="assets/images/place/place-1.jpg" alt="Place Image">
                                </div>
                                <div class="place-content">
                                    <div class="info">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><a href="#" tabindex="0">(4.9)</a></li>
                                        </ul>
                                        <h4 class="title"><a href="tour-details.html" tabindex="0">Man and Woman Walks on Dock</a></h4>
                                        <p class="location"><i class="fas fa-map-marker-alt"></i>North Province, Maldives</p>
                                        <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                                        <div class="meta">
                                            <span><i class="far fa-clock"></i>05 Days</span>
                                            <span><i class="far fa-user"></i>25</span>
                                            <span><a href="tour-details.html" tabindex="0">Details<i class="far fa-long-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="single-place-item mb-60 slick-slide slick-current slick-active" tabindex="-1" style="width: 376px;" data-slick-index="1" aria-hidden="false">
                                <div class="place-img">
                                    <img src="assets/images/place/place-2.jpg" alt="Place Image">
                                </div>
                                <div class="place-content">
                                    <div class="info">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><a href="#" tabindex="-1">(4.9)</a></li>
                                        </ul>
                                        <h4 class="title"><a href="tour-details.html" tabindex="-1">Trees Under White Clouds during Daytime</a></h4>
                                        <p class="location"><i class="fas fa-map-marker-alt"></i>North Province, Maldives</p>
                                        <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                                        <div class="meta">
                                            <span><i class="far fa-clock"></i>05 Days</span>
                                            <span><i class="far fa-user"></i>25</span>
                                            <span><a href="tour-details.html" tabindex="-1">Details<i class="far fa-long-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="single-place-item mb-60 slick-slide" tabindex="-1" style="width: 376px;" data-slick-index="2" aria-hidden="true">
                                <div class="place-img">
                                    <img src="assets/images/place/place-3.jpg" alt="Place Image">
                                </div>
                                <div class="place-content">
                                    <div class="info">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><a href="#" tabindex="-1">(4.9)</a></li>
                                        </ul>
                                        <h4 class="title"><a href="tour-details.html" tabindex="-1">Body of Water Near Mountain</a></h4>
                                        <p class="location"><i class="fas fa-map-marker-alt"></i>North Province, Maldives</p>
                                        <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                                        <div class="meta">
                                            <span><i class="far fa-clock"></i>05 Days</span>
                                            <span><i class="far fa-user"></i>25</span>
                                            <span><a href="tour-details.html" tabindex="-1">Details<i class="far fa-long-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="single-place-item mb-60 slick-slide slick-cloned" tabindex="-1" style="width: 376px;" data-slick-index="3" id="" aria-hidden="true">
                                <div class="place-img">
                                    <img src="assets/images/place/place-1.jpg" alt="Place Image">
                                </div>
                                <div class="place-content">
                                    <div class="info">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><a href="#" tabindex="-1">(4.9)</a></li>
                                        </ul>
                                        <h4 class="title"><a href="tour-details.html" tabindex="-1">Man and Woman Walks on Dock</a></h4>
                                        <p class="location"><i class="fas fa-map-marker-alt"></i>North Province, Maldives</p>
                                        <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                                        <div class="meta">
                                            <span><i class="far fa-clock"></i>05 Days</span>
                                            <span><i class="far fa-user"></i>25</span>
                                            <span><a href="tour-details.html" tabindex="-1">Details<i class="far fa-long-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="single-place-item mb-60 slick-slide slick-cloned" tabindex="-1" style="width: 376px;" data-slick-index="4" id="" aria-hidden="true">
                                <div class="place-img">
                                    <img src="assets/images/place/place-2.jpg" alt="Place Image">
                                </div>
                                <div class="place-content">
                                    <div class="info">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><a href="#" tabindex="-1">(4.9)</a></li>
                                        </ul>
                                        <h4 class="title"><a href="tour-details.html" tabindex="-1">Trees Under White Clouds during Daytime</a></h4>
                                        <p class="location"><i class="fas fa-map-marker-alt"></i>North Province, Maldives</p>
                                        <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                                        <div class="meta">
                                            <span><i class="far fa-clock"></i>05 Days</span>
                                            <span><i class="far fa-user"></i>25</span>
                                            <span><a href="tour-details.html" tabindex="-1">Details<i class="far fa-long-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="single-place-item mb-60 slick-slide slick-cloned" tabindex="-1" style="width: 376px;" data-slick-index="5" id="" aria-hidden="true">
                                <div class="place-img">
                                    <img src="assets/images/place/place-3.jpg" alt="Place Image">
                                </div>
                                <div class="place-content">
                                    <div class="info">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><a href="#" tabindex="-1">(4.9)</a></li>
                                        </ul>
                                        <h4 class="title"><a href="tour-details.html" tabindex="-1">Body of Water Near Mountain</a></h4>
                                        <p class="location"><i class="fas fa-map-marker-alt"></i>North Province, Maldives</p>
                                        <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                                        <div class="meta">
                                            <span><i class="far fa-clock"></i>05 Days</span>
                                            <span><i class="far fa-user"></i>25</span>
                                            <span><a href="tour-details.html" tabindex="-1">Details<i class="far fa-long-arrow-right"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div></div></div></div>
                    </div>
                    <!--=== Reviews Area ===-->
                    <div class="reviews-wrapper mb-60 wow fadeInUp" style="visibility: hidden; animation-name: none;">
                        <div class="reviews-inner-box">
                            <div class="rating-value">
                                <h4>Clients Reviews</h4>
                                <div class="rate-score">4.9</div>
                                <ul class="ratings">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><a href="#">(4.9)</a></li>
                                </ul>
                                <span class="reviews">3k Reviews</span>
                            </div>
                            <div class="reviews-progress">
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Quality <span class="rate">4.8</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 85%; visibility: hidden; animation-name: none;"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Team Member<span class="rate">4.6</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 75%; visibility: hidden; animation-name: none;"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Locations<span class="rate">4.7</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 90%; visibility: hidden; animation-name: none;"></div>
                                    </div>
                                </div>
                                <div class="single-progress-bar">
                                    <div class="progress-title">
                                        <h6>Cost<span class="rate">4.9</span></h6>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" style="width: 95%; visibility: hidden; animation-name: none;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=== Comments Area ===-->
                    <div class="comments-area wow fadeInUp" style="visibility: hidden; animation-name: none;">
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="assets/images/place/comment-1.jpg" alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Glenn M. Whitaker<span class="time"><i class="far fa-clock"></i>5 Minute Ago</span></span>
                                            <span class="position">CEO &amp; Founder</span>
                                            <ul class="comment-rating-ul">
                                                <li>
                                                    <span class="title">Quality</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Location</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Services</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Team</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Price</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepture</p>
                                            <a href="#" class="btn-link">Reply<i class="far fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comment-reply">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-avatar">
                                                <img src="assets/images/place/comment-2.jpg" alt="comment author">
                                            </div>
                                            <div class="comment-wrap">
                                                <div class="comment-author-content">
                                                    <span class="author-name">Glenn M. Whitaker<span class="time"><i class="far fa-clock"></i>5 Minute Ago</span></span>
                                                    <span class="position">CEO &amp; Founder</span>
                                                    <ul class="comment-rating-ul">
                                                        <li>
                                                            <span class="title">Quality</span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Location</span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Services</span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Team</span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Price</span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                        </li>
                                                    </ul>
                                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepture</p>
                                                    <a href="#" class="btn-link">Reply<i class="far fa-angle-double-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-avatar">
                                        <img src="assets/images/place/comment-3.jpg" alt="comment author">
                                    </div>
                                    <div class="comment-wrap">
                                        <div class="comment-author-content">
                                            <span class="author-name">Glenn M. Whitaker<span class="time"><i class="far fa-clock"></i>5 Minute Ago</span></span>
                                            <span class="position">CEO &amp; Founder</span>
                                            <ul class="comment-rating-ul">
                                                <li>
                                                    <span class="title">Quality</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Location</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Services</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Team</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                                <li>
                                                    <span class="title">Price</span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                    <span><i class="fas fa-star"></i></span>
                                                </li>
                                            </ul>
                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepture</p>
                                            <a href="#" class="btn-link">Reply<i class="far fa-angle-double-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--===  Comments Form  ===-->
                    <div class="comments-respond mb-30 wow fadeInUp" style="visibility: hidden; animation-name: none;">
                        <h3 class="comments-heading" style="margin-bottom: 15px;">Leave a Comments</h3>
                        <ul class="comment-rating-ul mb-20">
                            <li>
                                <span class="title">Quality</span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </li>
                            <li>
                                <span class="title">Location</span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </li>
                            <li>
                                <span class="title">Services</span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </li>
                            <li>
                                <span class="title">Team</span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </li>
                            <li>
                                <span class="title">Price</span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                            </li>
                        </ul>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Email Address" name="name" required="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form_group">
                                        <input type="text" class="form_control" placeholder="Enter Name" name="email" required="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <textarea name="message" class="form_control" rows="4" placeholder="Write Comments"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form_group">
                                        <button class="main-btn primary-btn">Send comments<i class="fas fa-angle-double-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4">
                    <!--=== Sidebar Widget Area ===-->
                    <div class="sidebar-widget-area pt-60 pl-lg-30">
                        <!--=== Booking Widget ===-->
                        <div class="sidebar-widget booking-form-widget wow fadeInUp mb-40" style="visibility: visible; animation-name: fadeInUp;">
                            <h4 class="widget-title">Booking Tour</h4>
                            <form class="sidebar-booking-form">
                               
                                    <a href="{% url 'users:users-bookings' package_id=package.id %}" class="main-btn primary-btn">Book Now <i class="far fa-paper-plane"></i></a>
           
                            
                            </form>
                        </div>


















                        <!--=== Booking Info Widget ===-->
                        <div class="sidebar-widget booking-info-widget wow fadeInUp mb-40" style="visibility: visible; animation-name: fadeInUp;">
                            <h4 class="widget-title">Tour Information</h4>
                            <ul class="info-list">
                                <li><span><i class="far fa-user-circle"></i>Max Guests<span>35</span></span></li>
                                <li><span><i class="far fa-map-marker-alt"></i>Tour Location<span>{{destination_name}}</span></span></li>
                                <li><span><i class="far fa-globe"></i>Language<span>English</span></span></li>
                            </ul>
                        </div>
                        <!--=== Recent Place Widget ===-->
                        <!-- <div class="sidebar-widget recent-place-widget mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                            <h4 class="widget-title">Last Minute Deals</h4>
                            <ul class="recent-place-list">
                                <li class="place-thumbnail-content">
                                    <img src="assets/images/place/thumb-1.jpg" alt="post thumb">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="far fa-star"></i></li>
                                        </ul>
                                        <h5><a href="tour-details.html">Infinity Pool Nears
                                            Beach</a></h5>
                                        <span class="price"><span class="text">From :</span><span class="currency">$</span>45.23</span>
                                    </div>
                                </li>
                                <li class="place-thumbnail-content">
                                    <img src="assets/images/place/thumb-2.jpg" alt="post thumb">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <h5><a href="tour-details.html">Infinity Pool Nears
                                            Beach</a></h5>
                                        <span class="price"><span class="text">From :</span><span class="currency">$</span>45.23</span>
                                    </div>
                                </li>
                                <li class="place-thumbnail-content">
                                    <img src="assets/images/place/thumb-3.jpg" alt="post thumb">
                                    <div class="place-content">
                                        <ul class="ratings">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <h5><a href="tour-details.html">Infinity Pool Nears
                                            Beach</a></h5>
                                        <span class="price"><span class="text">From :</span><span class="currency">$</span>45.23</span>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                        <!--=== Banner Widget ===-->
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'users/footer.html' %}

<script>
    function sharePackage() {
        const packageUrl = "https://example.com/package-url"; // Replace with your package URL
        if (navigator.share) {
            navigator.share({
                title: 'Check out this package!',
                url: packageUrl
            })
            .then(() => console.log('Package shared successfully'))
            .catch((error) => console.log('Error sharing the package:', error));
        } else {
            // Fallback for browsers that do not support the Web Share API
            alert("Copy this link to share: " + packageUrl);
        }
    }
</script>     
{% endblock %}