{% extends 'users/basenoheader.html' %}
{% load static %}

{% block content %}
<!--====== Start Place Details Section ======-->
<section class="place-details-section">
    <!--=== Place Slider ===-->
    <div class="place-slider-area overflow-hidden wow fadeInUp">
        <div class="place-slider">
            {% if package.package_images.all %}
                {% for image in package.package_images.all %}
                    <div class="place-slider-item">
                        <div class="place-img">
                            <img src="{{ image.image.url }}" alt="Package Image">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    
    <div class="container">
        <div class="tour-details-wrapper pt-80">
            <!--=== Tour Title Wrapper ===-->
            <div class="tour-title-wrapper pb-30">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="tour-title mb-20">
                            <h3 class="title">{{ package.package_name }}</h3>
                            <p><i class="far fa-map-marker-alt"></i>{{ package.destination }}</p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="tour-widget-info">
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <i class="fal fa-box-usd"></i>
                                </div>
                                <div class="info">
                                    <h4><span>From</span>${{ package.price }}</h4>
                                </div>
                            </div>
                            <div class="info-box mb-20">
                                <div class="icon">
                                    <i class="fal fa-clock"></i>
                                </div>
                                <div class="info">
                                    <h4><span>Duration</span>{{ package.duration }} Days</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8">
                    <!--=== Place Content Wrap ===-->
                    <div class="place-content-wrap pt-45">
                        <h3>Package Details</h3>
                        <p>{{ package.description }}</p>
                        
                        <h4>Package Includes</h4>
                        <div class="row align-items-lg-center">
                            <div class="col-lg-6">
                                <ul class="check-list">
                                    {% for inclusion in package.inclusions %}
                                    <li><i class="fas fa-badge-check"></i>{{ inclusion }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <!--=== Sidebar Widget Area ===-->
                    <div class="sidebar-widget-area pt-60 pl-lg-30">
                        <!--=== Booking Widget ===-->
                        <div class="sidebar-widget booking-form-widget mb-40">
                            <h4 class="widget-title">Book This Package</h4>
                            <form method="post" action="{% url 'users:users-bookings' package.id %}" class="sidebar-booking-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="booking-total mb-20">
                                    <div class="total">
                                        <label>Total Amount</label>
                                        <span class="price"><span class="currency">$</span>{{ package.price }}</span>
                                    </div>
                                </div>
                                <div class="submit-button">
                                    <button type="submit" class="main-btn primary-btn">Book Now<i class="far fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}